<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg.light">
			<div class="card-header text-center" >
				    <h3 class="card-title" th:text="${titulo}"></h3>
			</div>
			<div class="card-body">
				<div class="col-auto text-end">
			    <h4>
			      <a th:href="@{'/paciente/consultarpaciente/'+${cita.paciente.id}}"
					class="btn btn-outline-secondary" th:text="'Citas Medicas'">
					</a>
			    </h4>
				</div>
				
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos del paciente'"></li>
					<li class="list-group-item" th:text="'Nombre Completo: ' +${cita.paciente.nombre}+' '+${cita.paciente.apellido}"></li>
					<li class="list-group-item" th:text="'Contacto: ' + ${cita.paciente.telefono}"></li>
					<li class="list-group-item" th:text="'Dirección: '+${cita.paciente.direccion}"></li>
					<li class="list-group-item" th:text="'Correo Electronico: '+${cita.paciente.correo}"></li>
					<li class="list-group-item" th:text="'Estado: '+(${cita.paciente.estado} ? 'Activo' : 'Inactivo')"></li>
				</ul>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos de la cita medica'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${cita.id}"></li>
					
					
					<li class="list-group-item"
						th:text="'Descripción: ' + ${cita.descripcion}"></li>
					<li class="list-group-item"
						th:text="'Fecha cita medica: ' + ${cita.fecha_cita}"></li>
					<li class="list-group-item"
						th:text="'Hora cita medica: ' + ${cita.hora_cita}"></li>
					<li class="list-group-item"
						th:text="'Medico a cargo: ' + ${cita.medico.nombre}+' '+${cita.medico.apellido}"></li>
					<li class="list-group-item"
						th:text="'Estado medico: ' + (${cita.medico.estado} ? 'Activo' : 'Inactivo')"></li>
					<li class="list-group-item"
						th:text="'Fecha de expedición: ' + ${cita.fecha_solicitud}"></li>
					
				</ul>
				

				

				
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>