<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head> <!-- Importamos el fragmeto de interes del layout -->
<body>


	<header th:replace="~{layout/layout :: header}"></header> <!-- Importamos el fragmeto de interes del layout -->


	<div class="container py-4">
		<div class="card border-light mb-3">
				<div class="card-header text-center" >
					    <h3 class="card-title" th:text="${titulo}"></h3>
				</div>

					
				<hr class="border boder-success">
				<div class="card-body">
					<h4><a class="btn btn-outline-secondary"
								th:href="@{/cita/consultar/}+${cita.paciente.id}" th:text="'Ver Detalle'"></a></h4>
					<!--enctype: este tipo de configuracion en el formulario permite subir archivos, fotos, etc ..  -->
					<form th:action="@{/cita/form}" th:object="${cita}" method="post">
										
							
							
							<div class="form-group row py-2">
								<lable class="col-sm-2 col-form-label">Paciente ID:</lable>
								<div class="col-sm-6">
									<input id="paciente" type="text" th:value="${cita.paciente.id}" class="form-control"  th:field="*{paciente.id}" disabled='disabled' />
									
								</div>
			
							</div>
							
							<div class="form-group">
						        <label for="fecha">Fecha:</label>
						        <input type="date" id="fecha" name="fecha" class="form-control" th:field="*{fecha_cita}" required>
						    </div>
							
							<div class="form-group">
						        <label for="medico">Médico:</label>
						        <select id="medico" name="medicoId" class="form-control" th:field="*{medico.id}" required>
						            <option value="">Seleccione un médico</option>
						            <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nombre}"></option>
						        </select>
						    </div>
							
							<div class="form-group">
						        <label for="horario">Horario Disponible:</label>
						        <select id="horario" name="horarioId" class="form-control" th:field="*{hora_cita}" required disabled>
						            <option value="">Seleccione un horario</option>
						        </select>
						    </div>
							
			

							
							<div class="form-group row py-2">
							    <label for="descripcion" class="col-sm-2 col-form-label">Tipo: </label>
							    <div class="col-sm-6">
							        <select class="form-control" id="descripcion" th:field="*{descripcion}" th:errorclass="'form-control is-invalid'" required>
							            <option value="">Seleccionar un tipo de cita</option>
							            <option value="Cita por dolencia">Cita por dolencia</option>
							            <option value="Cita de seguimiento">Cita de seguimiento</option>
							            <option value="Cita preoperatoria">Cita preoperatoria</option>
							            <option value="Cita de control">Cita de control</option>
							            <option value="Cita de urgencia">Cita de urgencia</option>
							        </select>
							    </div>
							</div>

							
						
							
							<div class="form-group row py-2">
								<div class="col-sm-6">
									
									<input class="btn btn-secondary" type="submit" th:value="${titulo}" />
									
								</div>
							</div>
						
					</form>
				</div>
			
			
		</div>

	</div>
	
	<footer th:replace="~{layout/layout :: footer}">
	
	</footer>
	<script th:replace="~{cita/js/autocomplete-horarios :: javascript}"></script>


</body>
</html>