<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>


	<script type="text/javascript" th:fragment="javascript">

		$(document).ready(function() {
		    $('#medico').change(function() {
		        
		        var fecha = $('#fecha').val();
		        var medicoId = $('#medico').val();
		        
		        if (medicoId && fecha) {
		        	console.log(fecha);
		        	console.log(medicoId);
		            $.ajax({
		                url: "/cita/horarios/" + medicoId +"/" + fecha,
		                dataType: "json",
		                success: function(data) {
		                    var horarioSelect = $('#horario'); // Vaciar el select antes de agregar nuevas opciones
		                    horarioSelect.empty();
		                    horarioSelect.append('<option value="">Seleccione un horario</option>');
		                    data.forEach(function(horario) {
                            horarioSelect.append('<option id="' + horario.id + '" value="' + horario.hora + '">' + horario.hora + '</option>');
                        });
                        horarioSelect.prop('disabled', false);
		                    
		                },
		                error: function() {
		                    console.error('Error al obtener los horarios del médico');
		                }
		            });
		        } else {
		            $('#horario').empty();
	                $('#horario').append('<option value="">Seleccione un horario</option>');
	                $('#horario').prop('disabled', true);
			        }
		    });
		});

		
	
	</script>
</body>
</html>