<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg.light">
			<div class="card-header text-center" >
				    <h3 class="card-title" th:text="${titulo}"></h3>
			</div>
			<div class="card-body">
				

				


				<ul class="list-group list-group-flush">
				    <li class="list-group-item">
				      <strong>Nombre:</strong> <span th:text="${medico.nombre}"></span>
				    </li>
				    <li class="list-group-item">
				      <strong>Apellido:</strong> <span th:text="${medico.apellido}"></span>
				    </li>
				    <li class="list-group-item">
				      <strong>Estado:</strong> <span th:text="${medico.estado}"></span>
				    </li>
		
				 </ul>
				
				<div class="py-4">
				
					<div class="card-body">
						<div class="row align-items-center">
						  <div class="col">
						    <h4 class="card-title">Lista facturas</h4>
						  </div>
						  <div class="col-auto text-right">
						    <h4>
						      <a class="btn btn-outline-secondary" th:href="@{/horario/form/}+${medico.id}" th:text="'Solicitar Cita'"></a>
						    </h4>
						  </div>
						</div>

						<div class="alert alert-info my-4" th:if="${#lists.isEmpty(medico.horarios)}" th:text="'No hay citas asignadas para el medico '+ ${medico.nombre} +' '+ ${medico.apellido}"></div>
						<table class="table my-4" th:if="${not #lists.isEmpty(medico.horarios)}">
							<thead class="thead-dark">
								<tr>
									<th>Id</th>
									<th>descripcion</th>
									<th>Día atención</th>
									<th>Hora atención</th>
									<th>Paciente</th>
									<th>Detalles</th>
									<th>Cancelar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="horario:${medico.horarios}">
									<td th:text="${horario.id}"></td>
									<td th:text="${horario.descripcion}"></td>
									<td th:text="${horario.dia_atencion}"></td>
									<td th:text="${horario.hora_atencion}"></td>
									<td th:text="${horario.getPaciente().getNombre()}"></td>
									<td> <a class="btn btn-outline-secondary" th:href="@{'/horario/consultar/'+${horario.id}}" >
											<span class="material-symbols-outlined">description</span>
										</a>
									</td>
									<td> <a class="btn btn-outline-secondary" th:href="@{'/horario/cancelar/'+${horario.id}}" onclick="return confirm('¿Esta seguro que desea cancelar su cita?')">
											<span class="material-symbols-outlined">delete</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>