<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head> <!-- Importamos el fragmeto de interes del layout -->
<body>


	<header th:replace="layout/layout :: header"></header> <!-- Importamos el fragmeto de interes del layout -->


	<div class="container py-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    Iniciar sesión
                </div>
                <div class="card-body" >
						<form th:action="@{/login}" method="post">
						
						<div class="input-group mb-3">
	                        <span class="input-group-text">
	                          <span class="material-symbols-outlined">person</span>
	                        </span>
								<input type="text" name="username" id="username" placeholder="ejemplo@email.com" autofocus required class="form-control" />
						</div>
							
						<div class="input-group mb-3">
	                        <span class="input-group-text">
	                          <span class="material-symbols-outlined">
								password
								</span>
	                        </span>
								<input type="password" name="password" placeholder="Contraseña" required class="form-control" />
						</div>
							
							<div class="d-grid col-6 mx-auto mb-3">
								<input type="submit"  class="btn btn-info" value="Ingresar"/>
							</div>
							
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
						</form>				
				</div>
              </div>
            </div>
          </div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>